<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Elton Cheung. It is a personal project which helped me learn Node.js and Express. The backend chains together API calls to Mapbox and DarkSky.</p>
        <img class="portrait" src="img/about.jpeg">
    </div>
    {{>footer}}
</body>

</html>
